html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primaryBackgroundColor);
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg {
  max-width: 100%;
  height: auto;
}

.section {
  background-color: var(--secondaryBackgroundColor);
}

.sectionParagraph a,
.noPageContainer a {
  color: var(--sectionLinkColor);
}

.sectionParagraph a:hover,
.noPageContainer a:hover {
  color: var(--sectionLinkHoverColor);
}
