body {
  background-color: var(--primaryBackgroundColor);
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg {
  max-width: 100%;
  height: auto;
}

.section {
  background-color: var(--secondaryBackgroundColor);
}

.sectionElement a {
  color: var(--sectionLinkColor);
}

.sectionElement a:hover {
  color: var(--sectionLinkHoverColor);
}
