footer {
  background-color: var(--navBackground-color);
  border: var(--navBorder);
  color: var(--ulColor);
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

footer a,
footer h3 {
  list-style-type: none;
  color: var(--liColor);
}

.footerDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 25px;
}
