.arrow {
  width: 10%;
}

.left-arrow {
  transform: rotate(0deg) scaleX(-1);
}

.gallery {
  border: solid 2px black;
  width: 95%;
  margin: 0 auto 5px auto;
}

#mainImg {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  border-bottom: solid 2px black;
}

.thumbnail {
  width: 10%;
  height: auto;
  margin: 2px;
  border: solid 1px black;
}

/* Responsive */
@media only screen and (max-width: 600px) {
}
