.arrow {
  width: 10%;
}

.left-arrow {
  transform: rotate(0deg) scaleX(-1);
}

.gallery {
  width: 95%;
  margin: 0 auto 5px auto;
}

#mainImg {
  width: 70%;
  height: auto;
  padding: 0;
  margin: 0;
  border: solid 2px black;
}

.thumbnail {
  width: 5%;
  height: auto;
  margin: 2px;
  border: solid 1px black;
}
