.gallery {
  width: 95%;
  margin: 0 auto 5px auto;
  text-align: center;
}

#mainImg {
  width: 70%;
  height: auto;
  padding: 0;
  margin: 0;
  border: var(--primaryTextColor);
}

.thumbnail {
  width: 5%;
  height: auto;
  margin: 2px;
  border: var(--primaryTextColor);
}

.arrows {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}

.arrows .arrowLine {
  stroke: red;
  stroke: var(--galleryArrowColor);
  stroke-width: 5;
}

.arrows svg:hover .arrowLine {
  stroke: var(--galleryArrowColorHover);
}

.arrows svg:first-of-type {
  transform: rotate(-90deg);
}

.arrows svg:nth-of-type(2) {
  transform: rotate(90deg);
}

.gallery .arrow-svg {
  width: 10%;
  height: auto;
  cursor: pointer;
}
