header {
  background-color: var(--headerBackUpBackground-color);
  background-image: var(--headerBackUpBackground-image);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.headerImg {
  padding-right: 50px;
}

.headerSection {
  padding: 50px 0;
}

.HeaderText {
  text-shadow: var(--headerText-shadow);
  color: var(--headerTextColor);
  padding: 10px 0;
  margin: 0;
  display: flex;
  text-align: start;
  flex-direction: column;
}

/* Responsive */
@media only screen and (max-width: 1042px) {
  .headerSection p {
    display: none;
  }
}

@media only screen and (max-width: 748px) {
  .headerImg {
    display: none;
  }

  .HeaderText {
    padding-left: 20px;
  }
}
