nav {
  background-color: var(--navBackground-color);
  border: var(--navBorder);
  padding: 5px 0;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  text-align: center;
  text-shadow: var(--navUlText-shadow);
  padding: 5px 0;
}

.li {
  color: var(--liColor);
  text-decoration: none;
}

.li:hover,
#chosen {
  color: var(--uliHoverChosenColor);
  text-decoration: underline;
}
