nav {
  padding: 5px 0;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
}

#chosen {
  color: var(--navLinkChosenColor);
  text-decoration: underline;
}

/* Responsive */
@media only screen and (max-width: 506px) {
  ul {
    flex-direction: column;
    margin: 0;
  }

  .li {
    padding: 5px 0;
  }
}
