.noPageContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.noPageContainer img {
  margin: 0 auto 10px auto;
}

.noPageContainer a {
  font-size: x-large;
  padding: 10px 0;
}
