.section {
  border: double 2px var(--primaryTextColor);
  margin: 10px 50px;
}

.section h3,
.section p {
  padding: 0 40px;
}

/* Responsive */
@media only screen and (max-width: 790px) {
  .section {
    margin: 10px;
  }
}
