h1 {
  font-size: 30px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 26px;
}

p,
.sectionParagraph {
  font-size: 20px;
}

ul {
  font-size: 2vw;
}

h1,
h2,
h3 {
  text-decoration: underline;
}

h1,
h2,
h3,
p,
.sectionParagraph {
  color: var(--primaryTextColor);
}

/* Responsive */
@media only screen and (max-width: 770px) {
  ul {
    font-size: 20px;
  }
}

@media only screen and (max-width: 386px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }
}
