.updateLanguage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  margin-left: auto;
}

.flag {
  height: 60px;
}

/* Responsive */
@media only screen and (max-width: 446px) {
  .flag {
    height: 30px;
  }
}
