.updateLanguage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  margin-left: auto;
}

.flag {
  height: 55px;
  box-shadow: 10px 10px var(--navAndFooterLinkAndBorderColor);
}

.flag:hover {
  box-shadow: 10px 10px var(--navAndFooterLinkHoverColor);
}

#currentLanguage {
  box-shadow: 10px 10px var(--navLinkChosenColor);
}

/* Responsive */
@media only screen and (max-width: 446px) {
  .flag {
    height: 30px;
  }
}
